# -*- mode: conf; -*- vim:ft=gitattributes

/.config/git/config linguist-language=gitconfig
*.conf linguist-language=dosini
/.config/ghostty/config linguist-language=dosini
/.config/ghostty/themes/* linguist-language=dosini
/.config/tofi/config linguist-language=dosini
/.config/mimeapps.list linguist-language=desktop
/.config/bat/config linguist-language=sh
/.config/user-dirs.dirs linguist-language=sh
/.profile linguist-language=sh
/.bashrc linguist-language=bash
/.config/fontconfig/fonts.conf linguist-language=xml
