
* {
    all: unset;
    font-family: 'Symbols Nerd Font Mono';
    font-size: 1rem;
}

.powermenu
{
    font-family: 'Symbols Nerd Font Mono';
    font-size: 3rem;
    border-radius: 5px;
    border: 5px solid black;
    background:transparent;
}

.cancel-box
{
    font-family: 'Roboto Condensed'
}


.logout
{
    all: unset;
    border-radius: 5px;
    color: #C4A7E7;
    background-color: rgba(25, 23, 36, 0.5);
    transition: all 0.15s ease-in;
    &:hover
    {
        background-color: #C4A7E7;
        color: rgba(25, 23, 36, 1);
        transition: all 0.15s ease-out;
    }
}


.poweroff
{
    all: unset;
    border-radius: 5px;
    color: #EB6F92;
    background-color: rgba(25, 23, 36, 0.5);
    transition: all 0.15s ease-in;
    &:hover
    {
        background-color: #EB6F92;
        color: rgba(25, 23, 36, 1);
        transition: all 0.15s ease-out;
    }
}

.reboot
{
    all: unset;
    border-radius: 5px;
    background-color: rgba(25, 23, 36, 0.5);
    color: #31748F;
    transition: all 0.15s ease-in;
    &:hover
    {
        background-color: #31748F;
        color: rgba(25, 23, 36, 1);
        transition: all 0.15s ease-out;
    }
}

.sleep
{
    all: unset;
    border-radius: 5px;
    background-color: rgba(25, 23, 36, 0.5);
    color: #F6C177;
    transition: all 0.15s ease-in;
    &:hover
    {
        background-color: #F6C177;
        color: rgba(25, 23, 36, 1);
        transition: all 0.15s ease-out;
    }
}

.cancel
{
    all: unset;
    border-radius: 5px;
    background-color: rgba(25, 23, 36, 0.5);
    color: #9CCFD8;
    transition: all 0.15s ease-in;
    &:hover
    {
        background-color: #9CCFD8;
        color: rgba(25, 23, 36, 1);
        transition: all 0.15s ease-out;
    }
}


















.bar {
  background-color: #323641;
  color: #A0A8B7;
  font-family: 'Roboto Condensed';
  font-weight: 500;
}

// Styles on classes (see eww.yuck for more information)

.workspace-btn:hover {
  transition: 1s ease-in-out;
  color: #E55561;
}

.active {
  color: #4FA6ED;
}

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #E55561;
  color: #0E1013;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #E55561;
  color: #0E1013;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #7A818E;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}
.workspaces-button:hover {
  color: #E55561;

}
