$fg: #D3C6AA;
$fg_dim: #9DA9A0;
$bg_dark: #2B3339;
$bg_light: #374247;

$red: #E67E80;
$green: #A7C080;
$yellow: #DBBC7F;
$blue: #7FBBB3;
$magenta: #D699B6;
$cyan: #83C092;


@mixin rounded { border-radius: 0.25rem; }

@mixin unset-annoy
{
    border: unset;
    outline: unset;
    border-radius: unset;
    background-color: unset;
}

@mixin pad
{
    padding-left:  0.5rem;
    padding-right: 0.5rem;
}

@mixin ui-font
{
    font-family: 'Roboto Condensed';
    font-size: 1.125rem;
    font-weight: 600;
}

.status-bar
{
    background-color: $bg_light;
}

.modules
{
    @include pad;
}

.power-menu
{
    @include pad;
    @include ui-font;
    @include unset-annoy;
    background-color: $bg_light;
    @include rounded;
    border: 2px solid $bg_dark;
    transition: 0.25s linear;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    & button
    {
        all: unset;
        @include unset-annoy;
        @include rounded;

        &:hover
        {   
            all: unset;
            @include unset-annoy;
            @include rounded;
            background-color: $blue;
            color: $bg_dark;
        }
    }
}

.power-menu-button
{
    @include ui-font;
    @include pad;
    background-color: $magenta;
    color: $bg_dark;
    border-radius: 0.25rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    transition: 0.25s linear;
    & button
    { 
        @include unset-annoy;
        color: $bg_dark;

        &:hover
        {
            all: unset;
            padding-right: 1rem;
            padding-left: 1rem;
        }

    }
}


.pacman-names-box
{
    @include ui-font;
    padding: 1.5rem;
    border: 2px solid $bg_dark;
    background-color: $bg_light;
}


.pacman-names-box-button
{
    all: unset;
    @include unset-annoy;
    @include ui-font;

}

.contain-pacman-button
{
    @include pad;
    @include ui-font;
    background-color: $red;
    color: $bg_dark;
    border-radius: 0.25rem;
    margin-right: 5px;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.pacman-button {
    @include unset-annoy;
    color: $bg_dark;
    transition: 0.25s linear;
    &:hover
    {
        all: unset;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.bar-clock
{
    @include pad;
    @include ui-font;
    background-color: $green;
    color: $bg_dark;
    border-radius: 0.25rem;
    margin-right: 5px;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.clock-button
{
    @include unset-annoy;
    color: $bg_dark;
    &-clicked
    {
        @include unset-annoy;
        color: $bg_dark;
        transition: 0.25s linear;
        &:hover
        {
            padding-left: 1rem;
            padding-right: 1rem;
        }

    }
    &:hover
    {
        transition: 0.25s linear;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.contain-workspaces
{
    @include ui-font;
    margin-left: 5px;
}

.workspace-button
{
    @include unset-annoy;
    padding: 0 0.5rem 0 0.5rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    &:hover
    {
        transition: 0.25s linear;
        color: $bg_dark;
        background-color: $magenta;
        border-radius: 50% 0 50% 0;
    }

}

.workspace-active
{
    @include unset-annoy;
    @include rounded;
    background-color: $blue;
    color: $bg_dark;
    padding: 0 0.5rem 0 0.5rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    &:hover
    {
        transition: 0.25s linear;
        border-radius: 0 50% 0 50%;
    }
}
