[Desktop Entry]
Name=Fleet 1.21.132 Public Preview
Icon=/home/wbr/.local/share/JetBrains/Toolbox/apps/Fleet/ch-0/.icon.png
StartupWMClass=jetbrains-fleet
Comment=The next-generation IDE by JetBrains
Exec="/home/wbr/.local/share/JetBrains/Toolbox/apps/Fleet/ch-0/1.21.132/bin/Fleet" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false