* {
  all: unset;
}

window {
  font-family: "Roboto Condensed";
  background-color: #2B3339;
  color: #D3C6AA;
  border: 0.125rem solid black;
  border-radius: 0.25rem;
}

entry {
  background-color: #404C51;
  border-radius: 0.25rem;
  color: #D3C6AA;
}

button, image {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: none;
  border: none;
}

button:hover {
  background-color: #374247;
}
button:focus {
  background-color: #374247;
}

#category-button {
  margin: 0 10px 0 10px;
}

#pinned-box {
  padding-bottom: 5px;
  border-bottom: 1px dotted gray;
}

#files-box {
  padding: 5px;
  border: 1px dotted gray;
  border-radius: 15px;
}
